* {
    box-sizing: border-box;
    /* 限制box不受padding變形 */
    font-family: '標楷體';
    overflow: hidden;
    /* 物件超過版面部分隱藏, 預設為auto為超出部分有scroll */
}

/* body .main*/
.main{
    display: flex;
    width: 1024px;
    padding: 0 12px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;        /* 斷行的意思 */
}

/* 畫線border */
body>*:not(aside, section),
aside>*,
section>* {
    border: 1px solid lightgray;
}

.top{
    flex-basis: 1000px;
    height: 65px;
    /* background: lightblue; */
    /*border: 1px */
}

.aside{
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
}

/* aside header .menu*/
.menu{
    flex-basis: calc(100% - 25px);
 
}

.menu-header {
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    margin: 20px auto;
    text-decoration: underline blue;
    /* text-decoration-color: black; */
    /* text-underline-offset: 3px; */
}

.menu>a{
    display: block;
    margin: 10px;
    /* block斷行 可以調width height
    inline block 不斷行 可以調witdh height */
    text-decoration: none;
    width: 200px;
    height: 35px;
    padding: 10px;
    /* line-height: 35px; */
    color: #000000;
    font-size: 16px;
    background: url("../images/menu1.png") no-repeat;
}

.menu>a:hover {
    background: url("../images/menu2.png") no-repeat;
}

/* aside update */
.update{
    flex-basis: 25px;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    text-align: center;
}

/* section */
.section{
    flex-basis: calc(1000px - 215px);
    /* height: 500px; */
    display: flex;
    flex-direction: column;
}

.marqee{
    flex-basis: 29px;
    padding: 0 calc((100% - 770px - 2px) / 2);  /*美觀用, 題目未要求*/
    font-family: '標楷體';
    font-size: 24px;
    color: blue;
}

.content{
    flex-basis: calc(100% - 29px);
}

.footer{
    flex-basis: 1000px;
    height: 20px;
    background-color: lightgoldenrodyellow;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    text-align: center;
}

